/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    font-family: 'Mont-Regular';
}
@font-face {
    font-family: 'Mont-Regular';
    src: url('/src/assets/Mont-Regular.ttf') format('ttf');
}