
    <div class="picture">
    </div>
    <div class="all">
        <div class="search">
            <p>Поиск: </p>
            <input type="text" name="search" [(value)]="searchText">
        </div>
        <table class="table">
        <thead>
            <tr>
                <td>Заголовок статьи</td><td width="20%">Дата создания</td>
            </tr>
        </thead>
        <tbody>
            <tr [routerLink]="['/guide', item.id]" routerLinkActive="active" *ngFor="let item of lists">
                <td>{{item.name}}</td><td>{{item.creationDate}}</td>
            </tr>
        </tbody>
     </table>
    </div>
